@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.background-different {
  width: 100%;
  background-image: url("assets/logos_background_v2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-hero {
  width: 100%;
  /* height: 90vh; */
  background-image: url("assets/laptop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.talent-hero-image {
  background-image: url("assets/talentSeekersHero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.graph2-icon {
  background-image: url("assets/graph_2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.star-icon {
  background-image: url("assets/kid_star.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.compare-arrows-icon {
  background-image: url("assets/compare_arrows.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rocket-icon {
  background-image: url("assets/rocket_launch.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.terminal-icon {
  background-image: url("assets/terminal.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.article-person-icon {
  background-image: url("assets/article_person.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.groups-icon {
  background-image: url("assets/groups.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.recommend-icon {
  background-image: url("assets/recommend.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.star-rate-icon {
  background-image: url("assets/star_rate.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.job-hero-icons {
  background-image: url("assets/jobSeekersIcons.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.job-hero-image {
  background-image: url("assets/jobSeekersHero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lightbulb {
  background-image: url("assets/lightbulb.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heart-shield {
  background-image: url("assets/shield_with_heart.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.angular-icon {
  background-image: url("assets/angular.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.c-icon {
  background-image: url("assets/c.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.git-icon {
  background-image: url("assets/git.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.javascript-icon {
  background-image: url("assets/javascript.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.python-icon {
  background-image: url("assets/python.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swift-icon {
  background-image: url("assets/swift.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.typescript-icon {
  background-image: url("assets/typescript.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gradient-text {
  background: linear-gradient( 
    to bottom,
    #ff94d7,
    #fff5d9
  ); /* from indigo to pink */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
