<div
  class="bg-black font-mono text-amber-50 py-24 flex flex-col items-center space-y-8"
>
  <app-logo-white-text class="text-4xl"></app-logo-white-text>
  <div class="lg:flex lg:items-start items-center md:space-y-2 space-x-16">
    <p class="hover:text-[#FF94D7] text-center lg:text-start hover:cursor-pointer active:text-[#fe6ec9]">
      About Us
    </p>
    <p class="hover:text-[#FF94D7] text-center lg:text-start hover:cursor-pointer active:text-[#fe6ec9]">
      Privacy Policy
    </p>
    <p class="hover:text-[#FF94D7] text-center lg:text-start hover:cursor-pointer active:text-[#fe6ec9]">
      Talent Seekers
    </p>
    <p class="hover:text-[#FF94D7] text-center lg:text-start hover:cursor-pointer active:text-[#fe6ec9] lg:mb-0 mb-8"
    routerLink="/talent-seekers">
      Job Seekers
    </p>
    <div class="flex flex-col items-start space-y-2">
      <p class="font-sans text-3xl text-[#FF94D7]">Contact Us</p>
      <p>
        Email:
        <a
          href="mailto:info@onboarding-llc.com?subject=Inquiry&body=Hello,%0A%0AI'd%20like%20to%20know%20more%20about%20your%20services!"
          class="hover:text-[#FF94D7] hover:cursor-pointer active:text-[#fe6ec9]"
          >{{ "info\@onboarding-llc.com" }}</a
        >
      </p>
      <p>
        Phone:
        <a
          href="tel:+16618091946"
          class="hover:text-[#FF94D7] hover:cursor-pointer active:text-[#fe6ec9]"
        >
          (661) 809 - 1946
        </a>
      </p>
    </div>
  </div>
  <p class="text-xs mt-8">
    Copyright 2025 Onboarding LLC. All rights reserved.
  </p>
</div>
