<div
  class="bg-gradient-to-b from-[#a5a5a5] to-black text-amber-50 font-sans w-full h-5/6 xl:px-44 px-6 py-20 flex items-center justify-center space-x-4"
>
  <div class="talent-hero-image w-1/3 h-full rounded-4xl md:block hidden"></div>
  <div class="md:w-2/3 h-full flex flex-col justify-center items-center space-y-6">
    <p class="text-5xl text-center">Find the Right Talent,<span class="italic gradient-text"> Faster</span></p>
    <p class="text-lg w-3/4 text-center">We speak tech, not just recruiting — so you get candidates
        who actually fit the role, the culture, and the mission.</p>
    <button
      class="bg-[#FF94D7] text-black rounded-full px-4 py-2 hover:bg-[#fe6ec9] hover:cursor-pointer flex items-center space-x-2"
    >
      <mat-icon>group</mat-icon>
      <p class="font-extrabold">LET'S FIND YOUR NEXT GREAT HIRE</p>
    </button>
    <p class="text-sm text-center w-3/4">No pressure — just a quick chat to see how we can help you hire better, faster.</p>
    <div class="talent-hero-icons sm:w-[544px] sm:h-[116px] w-[400px] h-[85px]"></div>
  </div>
</div>
