<div
  class="md:px-8 md:py-2 px-3 py-1.5 flex justify-between items-center bg-black text-amber-50 position: sticky top-0 z-50 border-b border-b-[#232323]"
>
  <app-logo-white-text class="lg:text-2xl"></app-logo-white-text>
  <div
    class="hidden md:flex items-center md:space-x-8 space-x-4 font-sans lg:text-lg text-sm pr-2"
  >
    <p
      class="hover:text-[#FF94D7] hover:cursor-pointer py-0.5 active:text-[#fe6ec9]"
    >
      Talent Seekers
    </p>
    <p
      class="hover:text-[#FF94D7] hover:cursor-pointer py-0.5 active:text-[#fe6ec9]"
    >
      Job Seekers
    </p>
    <p
      class="hover:text-[#FF94D7] hover:cursor-pointer py-0.5 active:text-[#fe6ec9]"
    >
      About
    </p>
    <button
      class="bg-[#FF94D7] text-black rounded-full px-4 py-2 hover:bg-[#fe6ec9] hover:cursor-pointer flex items-center space-x-2"
    >
      <mat-icon>call</mat-icon>
      <p>FREE CONSULTATION</p>
    </button>
  </div>
  <button
    class="bg-[#FF94D7] font-sans text-sm text-black rounded-full px-4 py-2 hover:bg-[#fe6ec9] hover:cursor-pointer flex md:hidden items-center space-x-2"
  >
    <mat-icon>call</mat-icon>
    <p>FREE CONSULTATION</p>
  </button>
  <div class="md:hidden flex items-center space-x-4">
    <mat-icon class="hover:cursor-pointer">more_vert</mat-icon>
  </div>
</div>
