<div class="font-mono h-screen text-amber-50 flex flex-col items-center space-y-16 pt-32">
    <a
      class="hover:cursor-pointer py-2 active:text-[#fe6ec9] bg-[#FF94D7] px-8 rounded-full text-black font-sans text-lg"
      routerLink=""
      routerLinkActive="text-[#FF94D7]"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>
    <a
      class="hover:cursor-pointer py-2 active:text-[#fe6ec9] bg-[#FF94D7] px-8 rounded-full text-black font-sans text-lg"
      routerLink="/talent-seekers"
      routerLinkActive="text-[#FF94D7]"
    >
      Talent Seekers
    </a>
    <a
      class="hover:cursor-pointer py-2 active:text-[#fe6ec9] bg-[#FF94D7] px-8 rounded-full text-black font-sans text-lg"
      routerLink="/job-seekers"
      routerLinkActive="text-[#FF94D7]"
    >
      Job Seekers
    </a>
    <a
      class="hover:cursor-pointer py-2 active:text-[#fe6ec9] bg-[#FF94D7] px-8 rounded-full text-black font-sans text-lg"
      routerLink="/about-us"
      routerLinkActive="text-[#FF94D7]"
    >
      About
    </a>
</div>
