<div
  class="bg-gradient-to-b from-[#ff94d7] to-[#fff5d9] text-black font-sans w-full place-content-center"
>
  <div
    class="flex flex-col items-center md:py-36 py-24 md:space-y-12 space-y-8 w-full"
  >
    <p class="md:text-5xl text-4xl">How Can We Help You?</p>
    <p class="text-lg w-5/6 sm:w-3/4 text-center">
      Fill out the form below, and one of our recruiters will get in touch with
      you promptly to learn more about your hiring needs.
    </p>
    <app-form class="w-5/6 md:w-2/3 lg:w-1/2"></app-form>
  </div>
</div>
