<div
  class="bg-gradient-to-r from-[#fff5d9] to-[#ff94d7] text-black font-sans w-full place-content-center flex flex-col items-center"
>
  <div
    class="flex flex-col items-center md:py-36 py-24 md:space-y-12 space-y-8 w-1/2"
  >
    <p class="text-5xl">Sound good? Let's talk.</p>
    <p class="text-lg w-full">
      If this sounds like the kind of recruiting partner you’ve been looking
      for, we’d love to hear from you. Just fill out the form below, and one of
      our recruiters will get in touch with you promptly to learn more about
      your hiring needs.
    </p>
    <app-form class="w-3/4"></app-form>
  </div>
</div>
