<div
  class="text-sans bg-gradient-to-b from-black to-[#7f7f7f] flex items-center md:mt-30 mt-20 space-x-1 lg:px-48 px-8 pb-20"
>
  <div
    class="flex flex-col items-center justify-left space-y-6 font-sans md:w-3/4"
  >
    <p class="gradient-text md:text-5xl text-3xl text-center">
      Why We Started This
    </p>
    <p>
      Generic outreach. Misunderstood roles. Wrong cultural fits. It got old
      fast.
    </p>
    <p>
      As members of the industry, we realized something simple: tech hiring
      deserves better.
    </p>
    <p>
      So we built a recruiting agency that speaks the language of developers,
      designers, and data people. A firm that understands the stack, the role,
      and the context behind every hire.
    </p>
    <p>
      Now, we help companies build stronger teams and help candidates find work
      that actually fits.
    </p>
    <button
      class="max-w-max bg-[#FF94D7] text-black rounded-full px-4 py-2 hover:bg-[#fe6ec9] hover:cursor-pointer flex items-center space-x-2 transition-colors duration-200"
      routerLink="/form"
    >
      <mat-icon>group</mat-icon>
      <p class="font-extrabold">LET'S GET STARTED</p>
    </button>
  </div>
  <div class="lightbulb md:w-[350px] md:h-[350px] hidden md:block"></div>
</div>
