<div
  class="text-sans bg-[#7f7f7f] flex items-center py-20 space-x-1 lg:px-48 px-8 pb-20 text-amber-50"
>
  <div
    class="flex flex-col items-left justify-left space-y-6 font-sans md:w-3/4"
  >
    <p class="text-amber-50 md:text-5xl text-3xl text-center gradient-text">
      What We Are Committed To
    </p>
    <p>
      These aren’t just words on a page—they’re the principles that guide how we
      work, how we treat people, and how we show up every day.
    </p>
    <div>
      <p class="text-3xl text-amber-50 font-bold gradient-text">Integrity</p>
      <p>
        We do what’s right—especially when no one is watching. Our actions are
        guided by strong moral principles that ensure we always act in the best
        interest of our clients, candidates, and team.
      </p>
    </div>
    <div>
      <p class="text-3xl text-amber-50 font-bold gradient-text">Honesty</p>
      <p>
        Clear, candid communication is at the heart of everything we do. We
        believe in telling the truth, even when it's hard, because genuine
        relationships are built on trust.
      </p>
    </div>
    <div>
      <p class="text-3xl text-amber-50 font-bold gradient-text">Kindness</p>
      <p>
        We lead with empathy and treat everyone with respect. Kindness is more
        than a value—it’s a daily practice that shapes our culture and how we do
        business.
      </p>
    </div>
    <div>
      <p class="text-3xl text-amber-50 font-bold gradient-text">YOU</p>
      <p>
        You are the reason we exist. Whether you’re a client or candidate, your
        success and satisfaction are at the center of every decision we make.
      </p>
    </div>
    <button
      class="max-w-max bg-black text-[#FF94D7] self-center rounded-full px-4 py-2 hover:bg-[#1e1e1e] hover:cursor-pointer flex items-center space-x-2 transition-colors duration-200"
      routerLink="/form"
    >
      <mat-icon>group</mat-icon>
      <p class="font-extrabold">LET'S GET STARTED</p>
    </button>
  </div>
  <div class="heart-shield md:w-[350px] md:h-[350px] hidden md:block"></div>
</div>
