<div
  class="flex flex-col items-center justify-center space-y-6 font-sans py-16 px-48"
>
  <p class="text-5xl">What We Offer You</p>
  <p class="text-lg w-1/2 text-center">
    We combine technical expertise with a personalized, flexible approach to
    hiring. You get better-fit candidates, faster, without the usual
    back-and-forth.
  </p>
  <div class="space-y-3">
    <div
      class="px-4 py-2 rounded-3xl bg-gradient-to-r from-amber-50 to-[#FF94D7] flex items-center space-x-4 text-black"
    >
      <div class="compare-arrows-icon w-1/10 h-[100px]"></div>
      <div class="w-9/10">
        <p class="text-3xl">Personalized Candidate Matching</p>
        <p class="text-lg">
          We don’t just look for keywords—we assess technical skillsets,
          cultural fit, and growth potential to bring you candidates who
          actually belong on your team.
        </p>
      </div>
    </div>
    <div></div>
    <div></div>
    <div
      class="px-4 py-2 rounded-3xl bg-gradient-to-r from-amber-50 to-[#FF94D7] flex items-center space-x-4 text-black"
    >
      <div class="terminal-icon w-[175px] h-[100px]"></div>
      <div>
        <p class="text-3xl">Tech-Literate Recruiters</p>
        <p class="text-lg">
          Your point of contact is someone who speaks your language. From
          frontend frameworks to DevOps pipelines, we understand what you’re
          hiring for—so you spend less time explaining, and more time hiring.
        </p>
      </div>
    </div>

    <div
      class="px-4 py-2 rounded-3xl bg-gradient-to-r from-amber-50 to-[#FF94D7] flex items-center space-x-4 text-black"
    >
      <div class="star-icon sm:w-[120px] sm:h-[100px] h-[50px]"></div>
      <div>
        <p class="text-3xl">Curated Talent Pipeline</p>
        <p class="text-lg">
          We proactively build and maintain a vetted pool of tech professionals,
          so you’re not starting from scratch every time a new need arises.
        </p>
      </div>
    </div>
    <div></div>
    <div></div>
    <div
      class="px-4 py-2 rounded-3xl bg-gradient-to-r from-amber-50 to-[#FF94D7] flex items-center space-x-4 text-black"
    >
      <div
        class="graph2-icon sm:w-[100px] sm:h-[100px] w-[100px] h-[50px]"
      ></div>
      <div class="w-5/6">
        <p class="text-3xl">Flexible Engagement Models</p>
        <p class="text-lg">
          We collaborate with you to understand your needs, not just fill seats.
        </p>
      </div>
    </div>
    <div
      class="px-4 py-2 rounded-3xl bg-gradient-to-r from-amber-50 to-[#FF94D7] flex items-center space-x-4 text-black"
    >
      <div
        class="rocket-icon sm:w-[100px] sm:h-[100px] w-[50px] h-[50px]"
      ></div>
      <div class="w-5/6">
        <p class="text-3xl">Speed Without Sacrifice</p>
        <p class="text-lg">
          We move fast, but we don’t cut corners. Our efficient screening
          process ensures speed and quality, so you don’t have to choose one or
          the other.
        </p>
      </div>
    </div>
  </div>
  <button
    class="bg-[#FF94D7] text-black rounded-full px-4 py-2 hover:bg-[#fe6ec9] hover:cursor-pointer flex items-center space-x-2"
  >
    <mat-icon>group</mat-icon>
    <p class="font-extrabold">LET'S GET STARTED</p>
  </button>
</div>
