<div
  class="background-hero flex flex-col items-center pt-24 md:space-y-7 space-y-4 md:h-11/12 h-screen w-screend"
>
  <p class="text-amber-50 font-sans text-center text-5xl xl:text-7xl">
    Tech&nbsp;<span class="text-[#FF94D7] font">Talent</span>&nbsp;Found By
    Tech&nbsp;<span class="text-[#FF94D7]">Experts</span>
  </p>
  <p class="text-amber-50 md:text-base text-sm font-sans w-5/6 xl:w-7/12">
    We believe that the best talent deserves recruiters who truly understand the
    industry. We don’t just source resumes; we understand the nuances of the
    roles and technologies, ensuring we connect you with the right talent faster
    and more accurately. Our team of experienced tech professionals is here to
    help you find the perfect fit, so you can focus on building the future.
  </p>
  <div class="flex font-sans space-x-8">
    <button
      class="bg-[#FF94D7] text-black rounded-full px-4 py-2 hover:bg-[#fe6ec9] hover:cursor-pointer flex items-center space-x-2"
    >
      <mat-icon>search</mat-icon>
      <p>FIND TALENT</p>
    </button>
    <button
      class="bg-[#FF94D7] text-black rounded-full px-4 py-2 hover:bg-[#fe6ec9] hover:cursor-pointer flex items-center space-x-2"
    >
      <mat-icon>work</mat-icon>
      <p>GET HIRED</p>
    </button>
  </div>
</div>
