<div
  class="flex flex-col items-center justify-center space-y-6 font-sans py-16 lg:px-48 sm:px-24 px-4"
>
  <p class="lg:text-5xl text-4xl max-w-full text-center">What We Offer You</p>
  <p class="lg:text-lg lg:w-1/2 text-center text-sm px-2 md:px-0">
    We’re here to help you find more than just a job. With tech-savvy
    recruiters, personalized support, and roles that fit your goals, we make
    your search smarter—and your next move stronger.
  </p>
  <div class="space-y-3">
    <div
      class="px-4 py-2 rounded-3xl bg-gradient-to-r from-amber-50 to-[#FF94D7] flex items-center space-x-4 text-black"
    >
      <div
        class="star-rate-icon md:w-[100px] md:h-[100px] w-[50px] h-[50px]"
      ></div>
      <div class="w-9/10">
        <p class="lg:text-3xl text-xl font-bold">Personalized Job Matching</p>
        <p class="lg:text-lg text-sm">
          No mass-blasting your resume. We get to know your strengths, goals,
          and preferences — and bring you roles that actually fit.
        </p>
      </div>
    </div>
    <div
      class="px-4 py-2 rounded-3xl bg-gradient-to-r from-amber-50 to-[#FF94D7] flex items-center space-x-4 text-black"
    >
      <div
        class="terminal-icon md:w-[100px] md:h-[100px] w-[50px] h-[50px]"
      ></div>
      <div class="w-9/10">
        <p class="lg:text-3xl text-xl font-bold">Tech-Savvy Career Guidance</p>
        <p class="lg:text-lg text-sm">
          Need help navigating your next step? We speak code and careers. From
          early devs to engineering leads, we help you move forward with
          confidence.
        </p>
      </div>
    </div>

    <div
      class="px-4 py-2 rounded-3xl bg-gradient-to-r from-amber-50 to-[#FF94D7] flex items-center space-x-4 text-black"
    >
      <div class="article-person-icon md:w-[100px] md:h-[100px] w-[50px] h-[50px]"></div>
      <div class="w-9/10">
        <p class="lg:text-3xl text-xl font-bold">
          Resume & Profile Optimization
        </p>
        <p class="lg:text-lg text-sm">
          Your experience deserves to shine. We help you position your skills,
          tech stack, and achievements to get noticed.
        </p>
      </div>
    </div>
    <div
      class="px-4 py-2 rounded-3xl bg-gradient-to-r from-amber-50 to-[#FF94D7] flex items-center space-x-4 text-black"
    >
      <div
        class="groups-icon md:w-[100px] md:h-[100px] w-[50px] h-[50px]"
      ></div>
      <div class="w-9/10">
        <p class="lg:text-3xl text-xl font-bold">
          Interview Prep for Tech Roles
        </p>
        <p class="lg:text-lg text-sm">
          We know what hiring managers look for. Get support on technical
          interviews, system design rounds, and behavioral questions.
        </p>
      </div>
    </div>
    <div
      class="px-4 py-2 rounded-3xl bg-gradient-to-r from-amber-50 to-[#FF94D7] flex items-center space-x-4 text-black"
    >
      <div
        class="recommend-icon md:w-[100px] md:h-[100px] w-[50px] h-[50px]"
      ></div>
      <div class="w-9/10">
        <p class="lg:text-3xl text-xl font-bold">Advocacy and Support</p>
        <p class="lg:text-lg text-sm">
          We don’t ghost. We stay with you through the process — giving
          feedback, updates, and real talk about what’s next.
        </p>
      </div>
    </div>
  </div>
  <button
    class="bg-[#FF94D7] text-black rounded-full px-4 py-2 hover:bg-[#fe6ec9] hover:cursor-pointer flex items-center space-x-2 transition-colors duration-200"
    routerLink="/form"
  >
    <mat-icon>group</mat-icon>
    <p class="md:font-extrabold md:text-base text-sm">LET'S GET STARTED</p>
  </button>
</div>
